@import url('https://fonts.googleapis.com/css2?family=Hind:wght@300;600;700&family=Montserrat:ital,wght@0,300;0,400;0,700;1,300;1,400&display=swap'); // font-family: 'Hind', sans-serif;
// font-family: 'Montserrat', sans-serif;


%glass {
  background: rgba(255, 255, 255, 0.078);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(15px);
  -webkit-backdrop-filter: blur(15px);
  border: 1px solid rgba(255, 255, 255, 0.098);
}
%glass_hover {
  background: rgba(255, 255, 255, 0.193);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(15px);
  -webkit-backdrop-filter: blur(15px);
  border: 1px solid rgba(255, 255, 255, 0.098);
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

svg {
  transition: all 2s ease-in-out;

}

.svg-blob {
  // filter: blur(9px);   
  transition: all 7s cubic-bezier(.66, -0.01, .17, 1);
}
.svg-blobs{
  position: absolute;
  top: 0;
  left: 0;
}

$blur_variable: 75px;

.glass {
  position: fixed;
  z-index: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(255, 255, 255, 0);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur($blur_variable);
  -webkit-backdrop-filter: blur($blur_variable);
}

.glass-card {
  /* From https://css.glass */
  background: rgba(255, 255, 255, 0.19);
  // border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(14px);
  -webkit-backdrop-filter: blur(14px);
  border: 1px solid rgba(255, 255, 255, 0.43);
}

.background-gradient { 
  background-color: black;
  width: 100%;
  height: 100%;
  background-size: cover;
  z-index: -1;
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
} 

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
    transform: rotate(random(90) + deg);
  }

  100% {
    background-position: 0% 50%;
  }
}


h1,
h2,
a,
p {
  color: white;
}

strong,
p {
  position: relative;
  z-index: 1;
}

button,
.button {
  @extend %glass;
  width: fit-content;
  color: white; 
  padding: 12px 28px;
  border-radius: 50px;
  text-transform: uppercase;
  letter-spacing: 1px; 
  cursor: pointer; 
  transition: all .2s ease-in;

}

button:hover,
.button:hover { 
  @extend %glass_hover;
  transition: all .2s ease-out;
}

li {
  cursor: pointer;
  list-style: none;
}


.box {
  padding: 0px 50px;
}

.container {
  // display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-content: stretch;
  align-items: center;
  height: 100vh;
  width: 100%;
}

.divider {
  height: 1px;
  background-color: white;
  width: 100px;
  margin: 15px 0;

}

.main {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-content: stretch;
  align-items: center;
  width: 100%;

  h2 {
    position: absolute;
    bottom: 0px;
    color: rgb(247, 247, 247);
    transform: translate(-50%, -50%);
    font-size: 16px;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 10px;
    font-weight: 300;

  }

}


.header {
  font-size: 12px;
  // flex: 0 1 auto;
  width: 100%;
  display: flex;
  position: fixed;
  justify-content: space-between;
  align-items: center;
  z-index: 9;

  // background-color: black;
  // width:  200px;
  ul {
    display: flex;
    flex-direction: row;
    margin: 20px 0;

    li {
      padding: 5px;
      margin: 0 10px;
      height: 40px;
      width: 40px;
      border-radius: 25px;
      display: flex;
      justify-content: center;
      align-items: center;
      transition: all ease-in-out .2s;


      svg {
        color: rgb(255, 255, 255);
        fill: rgba(0, 0, 0, 0);
        transition: fill .2s ease-in-out;  
      }

   
    }
    li:hover {
      background-color: rgba(255, 255, 255, 0.111);

    }

  }

  span {
    color: white;
    text-transform: uppercase;
    margin: 0 50px;
    font-size: 12px;
    letter-spacing: 4px;
    font-family: 'Hind', sans-serif;
  }

}


.hero {
  flex: 1 1 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  z-index: 2;


  .hero-right {

    h1 {
      font-size: 6em;
      text-align: center;
      letter-spacing: 10px;
      text-transform: uppercase;
      margin: 0;
    }

    .cristo {
      font-size: 9em;
    }
  }

  h2 {
    position: relative;
    z-index: 2;
  }
}

.foot {
  height: 70px;
  width: 100%;
  bottom: 0px;
  flex: 0 1 auto;
  z-index: 99;
  position: fixed;
  // background-color: #111;
  border-top: solid 1px white;

  .foot-links {
    display: flex;
    justify-content: center;
    align-items: center;

    .active {
      a {
        font-weight: 700;
        color: white;
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

      }

      a::before {
        content: "";
        position: relative;
        display: block;
        height: 1px;
        width: 40px;
        top: 18px;
        background-color: rgba(255, 255, 255, 0.79);
      }
    }

    li {
      text-transform: uppercase;
      font-size: 12px;
      letter-spacing: 1px;
      padding: 1em 3em;

      transition: all .2s ease-in-out;

      a {
        color: #adadad;
        transition: all .2s ease-in-out;
      }
    }

    li:hover {
      a {
        color: white;
      }
    }
  }
}

.links {
  position: relative;
  display: flex;
  flex-direction: column;
  // margin-top: 100px;
  justify-content: center;
  z-index: 2;

  li {
    color: white;
    text-transform: uppercase;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    margin: 20px 0;
    font-size: 26px;
    cursor: pointer;
    font-family: 'Hind', sans-serif;
    letter-spacing: 3px;
    font-weight: 300;
    width: fit-content;
    transition: all 0.3s ease;
    z-index: 2;
  }

  svg {
    opacity: 1;
    width: 0;
    font-size: 30px;
    margin: 0 10px;
    transition: all 0.3s ease;
  }


  li:hover {
    transform: skewX(-20deg);
    transition: transform 0.3s ease;
    transition-delay: 0.3s;

    a {
      // font-weight: 600;
      // color: black ;
      transition: color font-weight 0.3s ease;
      transition-delay: 0.3s;
    }

    svg {
      width: 25px;
      opacity: 1;
      // color: black;
      transition: all 0.3s ease;
      transition-delay: 0.3s;

    }

  }

  // a:hover {
  //   color: black ;
  //   transition: color 0.3s ease;
  //   transition-delay: 0.3s;

  // }
  a: {
    color: white;
  }


  li::before {
    @extend %glass;
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    z-index: 0;
    // background-color: #fff;
    transform: scaleX(0);
    transition: transform 0.3s ease;
  }

  li>* {
    position: relative;
    z-index: 2;
  }


  li:hover::before {
    transform: scaleX(1);
    height: 50px;
    transition: transform 0.3s ease-out, height 0.3s ease 0.2s;
    // background-color: #111;
  }
}


.about-only {
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0.788), rgba(0, 0, 0, 0.849)), url('/church-all.png');
  background-size: cover;
  background-repeat: no-repeat;
  // background-attachment: fixed;
  background-position: center;
}

.about {
  padding: 5% 50px 15%; 
  z-index: 2;
  position: relative;

  h1 {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 2em;
  }

  p {
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    font-size: 1.2em;
  }

  .about-details {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;

    .card {
      @extend %glass;
      position: relative;
      margin: 1em; 
      padding: 0px 1em;
      width: 350px;
      border-radius: 12px;
      display: flex;
      flex-direction: column;

      // justify-content: space-between;
      h1 {
        font-size: 1.5em;
        color: #eee;
        height: auto;
        padding: 0em 0 10px;
      }

      h2 {
        font-size: 1em;
        color: #eee;
        font-weight: 600;
      }

      p {
        color: #eee;
        font-size: 1em;
      }

      .num {
        position: absolute;
        bottom: 0;
        left: 230px;
        font-size: 12px;
        font-weight: 700;
        color: rgb(175, 175, 175);
      }
    }

  }
}

.directions {
  display: flex;
  height: 100vh; 
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0.808), rgba(0, 0, 0, 0.801)), url('/map-elgin.svg');
  background-size: cover;
  justify-content: center;
  align-items: center;
  background-repeat: no-repeat;
  height: 100vh;
  z-index: 2;
  position: relative;

  .info {
    display: flex;
    align-items: center;
    flex-direction: column;
    z-index: 1;

    p {
      font-weight: 300;
      font-size: 1em;
      font-family: 'Montserrat', sans-serif;

    }
  }

  .map {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    opacity: .3;
    height: 100%;
    z-index: 0;


  }
}

.learn {
  display: flex;
  justify-content: center;
  height: 100vh;
  position: relative;
  z-index: 2;

  div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  a {
    margin: 20px 0;
  }

  p {
    font-size: 18px;
    font-weight: 300;
    text-align: center;
    width: 60%;
  }
}

.info-circle {
  position: fixed;
  bottom: 20;
  right: 20;
  background-color: white; 
  cursor: pointer;
  z-index: 99;

  p,
  h1 {
    text-align: center;
    color: black;
  }

  h1 {
    font-size: 22px;
  }


}


a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
} 

@media (max-width: 600px) {
  .glass {
    position: fixed;
    z-index: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(255, 255, 255, 0);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur($blur_variable);
    -webkit-backdrop-filter: blur($blur_variable);
  }


  @keyframes gradient {
    0% {
      background-position: 0% 50%;
    }

    50% {
      background-position: 100% 50%;
      transform: rotate(random(180) + deg);
    }

    100% {
      background-position: 0% 50%;
    }
  }


  .header {
    li {
      margin: 0 4px !important;

    }

    span {
      color: white;
      text-transform: uppercase;
      margin: 0 20px;
      font-size: 14px;
      letter-spacing: 3px;
      font-family: 'Hind', sans-serif;
    }

  }

  .about {
    padding: 15% 50px 20%;
  }

  .learn {

    padding: 45% 50px;

    h1 {
      text-align: center;
      font-size: 26px;
    }

    a {
      margin: 20px 0;
    }

    p {
      font-size: 20px;
      width: 100%;
    }
  }

  .card {
    width: 100% !important;
  }

  .foot {
    position: fixed;
    z-index: 99;

    .foot-links {
      padding: 0;

      ul {}

      li {
        font-size: 10px;
        padding: 1em 1em;

      }

      li:hover {
        font-size: 12px;
        line-height: 10px;
      }

    }

  }

  .links {
    position: relative;
    margin-top: 70px;
    z-index: 2;

    li {
      justify-content: flex-start;
      padding: 10px 0px;
      margin: 20px 0;
      font-size: 18px;
      width: 300px;
      transition: all 0.3s ease;
      z-index: 2;
    }

    svg {
      opacity: 1;
      width: 30px;
      font-size: 30px;
      margin: 0 10px;
      transition: all 0.3s ease;
    }


    li:hover {
      transform: skewX(-20deg);
      transition: transform 0.3s ease;
      transition-delay: 0.3s;

      a {
        // font-weight: 600;
        transition: color font-weight 0.3s ease;
        transition-delay: 0.3s;
      }

      svg {
        width: 25px;
        opacity: 1;
        transition: all 0.3s ease;
        transition-delay: 0.3s;

      }

    }

    a: {
      color: white;
    }


    li::before {

      content: "";
      position: absolute;
      display: block;
      width: 100%;
      height: 2px;
      bottom: 0;
      left: 0;
      z-index: 0;
      // background-color: #fff;
      transform: scaleX(0);
      transition: transform 0.3s ease;
    }



    li:hover::before {
      transform: scaleX(1);
      height: 100%;
      transition: transform 0.3s ease-out, height 0.3s ease 0.2s;
      // background-color: #111;
    }
  }

  .directions {

    flex-wrap: wrap;
    padding-bottom: 80px;

    .info {
      width: 100%;
      padding: 40% 50px;
      align-items: center;

      h1 {
        font-size: 26px;
        text-align: center;
      }

      p {
        font-size: 14px;
        text-align: center;


      }
    }

    .map {
      display: none;

    }

  }

  .info-cont {
    bottom: 50 !important;
  }

  .info-circle {
    position: fixed;
    bottom: 80px !important;
    right: 10px !important;

  }

}